body {
    margin: 0;
    padding: 5vw;
    font-family: sans-serif;
    background-color: rgb(214, 214, 214);
}

body > p {
    max-width: 32em;
    font-family: Arial;
}

.grailedlogo {
    height: 17px;
    width: 130px;
}

.nav_links {
    display: flex;
    width: auto;
    justify-content: space-between;
    color: black;
}

.search {
    margin: auto;
    max-width: 300px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(15em, 1fr));
    grid-gap: 2em;
}

.productitem > a img {
    width: 100%;
}

.caption {
    font-size: 1em;
    font-style: italic;
    font-family: sans-serif;
    color: grey
}

.productitem > p >span {
    color: red;
}

.productitem > p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productitem > h4>span {
    align-items: flex-end
}

.productitem button {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    
}

.productitem button img {
    width: 1.5em;
    height: auto;
    display: block;
}